<div class="row login-container">
    <div class="col-4 left-container">
        <div class="container form-container col-8">
            <h1>LogIn</h1>
            <p>Login to start using Interview Buddy</p>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary btn-form">LOGIN</button>
            </form>
            <button class="btn btn-primary btn-form">SIGNUP</button>
        </div>
    </div>
    <div class="col-8 right-container">
        <img src="../../assets/apple.webp" alt="" >
        <h5>SAM APPLE</h5>
        <h1>Inter<span>view </span>Buddy</h1>
    </div>
</div>
