@import "../../assets/scss/variables.scss";

.adduser-container {
    width: 70%;
    height: 25vh;
    background-color: $backgroundBlue;
    margin-top: 3vh;
    border-radius: 25px;
    padding-top: 3vh;
    padding-left: 1.5vw;
    cursor: pointer;
    position: relative;

    h1 {
        color: white;
    }

    img {
        width: 7vw;
        position: absolute;
        right: 25px;
        bottom: 25px;
    }
}