<div class="row">
    <div class="col-2">
        <app-side-bar [links]="links"></app-side-bar>
    </div>
    <div class="col-10 row">
        <div class="row mx-auto">
            <div class="col-6">
                <app-create-template></app-create-template>
            </div>
            <div class="col-6">
                <app-add-user-card></app-add-user-card>
            </div>
            <div class="col-6" *ngFor="let card of blankCards">
                <app-blank-card></app-blank-card>
            </div>
        </div>
    </div>
</div>
